<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      La información que estas compartiendo es completamente anónima. ¿Cuál es
      tu estado actual referente a COVID-19?
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card *ngFor="let status of statuses">
      <ion-item [color]="status.color">
        <ion-label>{{status.label}}</ion-label>
        <ion-icon slot="start" [name]="status.icon"></ion-icon>
        <ion-checkbox (ionChange)="changeStatus(status.value)" [(ngModel)]="status.isChecked"></ion-checkbox>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
