<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      La información que estas compartiendo es completamente anónima. ¿Cuál es
      tu estado actual referente a COVID-19?
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card *ngFor="let status of statuses; let i=index">
      <ion-item [color]="status.color">
        <ion-label>{{status.label}}</ion-label>
        <ion-icon slot="start" [name]="status.icon"></ion-icon>
        <ion-checkbox (ionChange)="changeStatus($event,status.value)" item-right [ngModel]="selectedStatusIndex == i"(ngModelChange)="$event ? selectedStatusIndex = i : selectedStatusIndex = -1" [disabled]="selectedStatusIndex >= 0 && selectedStatusIndex != i"></ion-checkbox>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
